DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/interviewer
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ANTHROPIC_API_KEY=sk-ant-your-key-here

ZOOM_ACCOUNT_ID=7MLQx5teThSYH-UDDckPuw
ZOOM_CLIENT_ID=fTrsb23DSWiShiHF47eyQ
ZOOM_CLIENT_SECRET=JoXF5Jkyxt1bpnuToDkf2V3s2jFxnYZy
ZOOM_WEBHOOK_SECRET=ognX7c1dRyiY9oACaQFlTA
